body{
  background-color: #000000;
  margin: 50px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/* ----------- Top links */

.topbar .fab{
  color: #ffffff;
  font-size: 20px;
  margin-right: 20px;
  transform: scale(1.0);
  transition: 0.3s;
  margin-top: 30px;
}

.topbar .fab:hover{
  transition: 0.3s;
  color: #8da191;
  transform: scale(1.5);
}

.topbar h5{
 font-family: 'Space Mono', serif;
 font-size: 15px;
 font-weight: 400;
 text-align: left;
 text-transform: uppercase;
 color: #ffffff;
 margin-top: 30px;
}

/* ----------- Header */

.header{
  background: url(https://images.unsplash.com/photo-1494438639946-1ebd1d20bf85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1047&q=80);
  background-position: center;
  margin-top: 30px;
  color: #dddddd;
}

@media screen and (min-width: 601px) {
  .header{
  background-size: 100%;
  padding: 200px;
  }
}

@media screen and (max-width: 600px) {
  .header{
  background-size: 150%;
  padding: 150px 50px;
  }
}


/* ----------- Work Samples */

.work-samples img{
  width: 100%;
  margin-bottom: 25px;
  transition: 0.3s;
  transform: scale(1.0);
}

.work-samples img:hover{
  transition: 0.3s;
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  transform: scale(1.1);
}

.work-desc h4{
  font-family: 'Space Mono', monospace;
  font-size: 14px;
  font-weight: 400;
  color: #8da191;
  text-transform: uppercase;
  line-height: 17px;
}

.work-desc h1{
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 400;
  color: #ffffff;
}

.work-desc h5{
  font-family: 'Merriweather', serif;
  font-size: 13px;
  font-weight: 400;
  color: #cccccc;
  line-height: 25px;
}

/* -------------- Section Titles */

.sec-title h1{
  font-family: 'Playfair Display', serif;
  font-size: 37px;
  font-weight: 400;
  color: #ffffff;
  line-height: 37px;
  letter-spacing: -1px;
}

/* -------------- My Services */

.services .far{
  font-size: 23px;
  color: #ffffff;
}

.services .fas{
  font-size: 23px;
  color: #ffffff;
}

.services h5{
  font-family: 'Space Mono', monospace;
  font-size: 15px;
  font-weight: 400;
  color: #8da191;
  text-transform: uppercase;
  line-height: 20px;
  text-align: center;
  padding-top: 10px;
}

.services h4{
  font-family: 'Merriweather', serif;
  font-size: 13px;
  font-weight: 400;
  color: #cccccc;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 35px;
}

/* -------------- About Me */

.about h5{
  font-family: 'Merriweather', serif;
  font-size: 13px;
  font-weight: 400;
  color: #cccccc;
  line-height: 30px;
  text-align: justify;
}

.about a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s; 
}

.about a:hover {
  transition: 0.3s; 
  color: #8da191;
  font-style: italic;
}

/* -------------- See More Designs*/

.behance-btn a{
  text-decoration: none;
}

.behance-btn h5{
  font-family: 'Space Mono', monospace;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5px;
  border: 2px solid #ffffff;
  padding: 10px;
  margin-top: 55px;
  background: #ffffff;
  color: #000000;
  transition: 0.3s;
}

.behance-btn h5:hover{
  transition: 0.3s;
  background: #000000;
  color: #8da191;
}

.behance-btn .fas{
  font-size: 12px;
  margin-left: 10px;
}

/* -------------- See More Codes*/

.code-desc img {
  width: 100%;
  transform: scale(1.0);
  margin-bottom: 25px;
  transition: 0.3s;
}
.code-desc img:hover {
  transform: scale(1.2);
  transition: 0.3s;
  webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.code-desc a{
  text-decoration: none;
  color: #ffffff;
}
.code-desc a:hover{
  color: #8da191;
}

.code-desc h3{
  font-family: 'Space Mono', monospace;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5px;
  border: 2px solid #ffffff;
  padding: 8px;
  margin-top: 30px;
  background: #ffffff;
  color: #000000;
  transition: 0.3s;
}

.code-desc h3:hover{
  transition: 0.3s;
  background: #000000;
  color: #8da191;
}

.code-desc .fas{
  font-size: 12px;
  margin-left: 10px;
}

.code-desc h5{
  font-family: 'Merriweather', serif;
  font-size: 13px;
  font-weight: 400;
  color: #cccccc;
  line-height: 25px;
}

/* -------------- The Footer */

.footer-img{
  background: url(https://images.unsplash.com/photo-1494438639946-1ebd1d20bf85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1047&q=80);
  background-position: bottom;
  background-size: 100%;
  padding: 20px;
  color: #dddddd;
  margin-bottom: 30px;
}

.footer h5{
  font-family: 'Space Mono', monospace;
  font-size: 10px;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.5px;
  line-height: 20px;
  color: #cccccc;
}

.footer a{
  text-decoration: none;
  color: #8da191;
  transition: 0.3s;
}

.footer a:hover{
  color: #333333;
  font-style: italic;
  transition: 0.3s;
}

/* -------------- Dividers */

.top-div{ 
  margin-top: 0px;
  margin-bottom: 60px; 
  border-top: 2px solid #ffffff;
}

.bottom-div{ 
  margin-top: 60px;
  margin-bottom: 0px; 
  border-top: 2px solid #ffffff;
}

.big-div{ 
  margin-top: 60px;
  margin-bottom: 60px; 
  border-top: 2px solid #ffffff;
}

.medium-div{
  margin-top: 60px; 
  margin-bottom: 60px;
  border-top:2px solid #ffffff;
}