body{
  background: #000000;
}

.container-fluid {
  width: 100%;
  padding-right: 15x;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header{
  background: transparent;
}

@media screen and (min-width: 601px) {
  .header{
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  }
}

@media screen and (max-width: 600px) {
  .header{
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  }
}

.blurb {
  font-family: 'Courier New', serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 150px;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: bold;
} 

.blurb img{
  width: 50%;
}

@media screen and (max-width: 600px) {
  .blurb {
  margin-top: 80px;
  font-size: 13px;
   }

  .blurb img{
  width: 80%;
  }
}


